.borde{
  border: 3px solid rgb(37, 37, 155);

}
table {
  width: 100%;
  border: 2px solid rgb(80, 1, 1);
}
td {
  width: 25%;
  text-align: left;
  vertical-align: top;

}
th{
  border: 2px solid rgb(80, 1, 1);
}
